# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# PyCharm settings
.idea/

# VSCode settings
.vscode

# Logs
*.log
logs/

# Environment variable files
.env
.env.development
.env.production
